.task-details {
    margin: 1em;
    padding: 1em;
    background-color: $black-card-background;
    border-radius: 8px;

}

.task-details.completed{
    color: $green-secondary;
}
.task-details.priority{
    color: $red;
}