.task-details {
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    background-color: $black-card-background;
}

.task-details.completed{
    h2{
        color: $green-secondary;

    }
}
.task-details.priority{
    h2{
        color: $red;

    }
}