.task-details-container{

    .button-container{
        background-color: rgba(0, 0, 0, 0.246);
        padding: 1em;
    }
    h1{
        margin: 0em 0em 0em 0.8em;
    }
}

.task-details {
    margin: 1em;
    padding: 1em;
    background-color: $black-card-background;
    border-radius: 8px;

    .section-container{
        display: flex;
        align-items: center;
        justify-items: center;

        gap: 1em;
        h3,h4,p{
            margin: 0px;
        }

        p{
            width: 100%;
            background-color: $medium-gray;
            border-radius: 5px;
            padding: 5px;

        }
    }
    .priority-slider {
        width: 100%;
        text-align: center;
      }
      
      .priority-range {
        -webkit-appearance: none; /* Override default CSS styles */
        width: 100%;
        height: 10px;
        border-radius: 5px;
        background: linear-gradient(
          to right,
         #99ccff 0%, /* Critical */
          #66cc66 25%, /* High */
         #ffcc00  50%, /* Medium */
            #ff4d4d 100% /* Low */
        );
        outline: none; /* Removes outline */
        opacity: 0.7; /* Transparency */
        transition: opacity .2s; /* Transition for hover effect */
      }
      
      .priority-range:hover {
        opacity: 1; /* Fully visible on hover */
      }
      
      .priority-range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px; /* Width of the thumb */
        height: 20px; /* Height of the thumb */
        border-radius: 50%; /* Round thumb */
        background: white; /* Thumb color */
        border: 2px solid #999; /* Border color */
        cursor: pointer; /* Pointer cursor */
      }
      
      .priority-range::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: white;
        border: 2px solid #999;
        cursor: pointer;
      }
      
      .priority-labels {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        font-size: 12px; /* Font size for labels */
        margin-top: 5px; /* Space above labels */
      }

}

.task-details.completed{
    color: $green-secondary;
}
.task-details.priority{
    color: $red;
}