.task-index {
  .header-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);

    align-items: center;
    justify-items: center;
    justify-content: space-between;

    padding: 0.5em;

    button{
      color: $text-light; /* Ensure text is visible */
      border: 1px solid $border-white;

    }
  }

  h2 {
    margin: 0;
    font-size: 1.3em;
  }

  button {
    margin-inline-end: 0;
  }
}
