.list {
    --min-column-size: 220px;

    display: flex;
    overflow-x: auto;
    height: calc(100vh - 360px);
    background-color: $blue-primary;
    // grid-template-columns: repeat(auto-fit, minmax(var(--min-column-size), 1fr));
    gap: .5em;
    padding: 1em;
    align-items: start;
    justify-items: center;

    .task-container {
        display: grid;

        grid-template-columns: max-content auto;
        gap: 2em;
        padding: .5em;
        background-color: $black-card-background;
        // min-width: 200px;
        align-items: start;
        justify-items: center;


        color: $text-light;
        border-radius: 8px;

        .actions {
            justify-self: end;

            display: flex;

            button {
                padding: .3em .5em;
            }
        }
    }
}