.user-stats-container{
    background-color: $black-card-background;
    color: $text-light;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1em;
    a{
        padding: 5px;
        border-radius: 5px;
        color: $text-light;
        background-color: $blue-primary;
        &:hover{
            color: $text-dark;
            background-color: $gray-background;
            
        }
    }
}