button {
	border: 0;
	background-color: $clr1;
	color: whitesmoke;
	padding: 5px 10px;
	margin: 5px;
	cursor: pointer;
}



// button {
// 	display: block; /* Ensure it’s not set to none */
// 	visibility: visible; /* Ensure visibility is not hidden */
// 	z-index: 1; /* Ensure it's on top of other elements */
// 	color: black; /* Ensure text is visible */
// 	background-color: white; /* Ensure background isn't transparent */
//   }

form > * {
	display: block;
	// width: 200px;
	margin: 10px 0px;
}

.btn-link {
	border: 0;
	// background-color: transparent;
	// text-decoration: underline;
	transition: 0.5s;
}
.btn-link:hover {
	background-color: $clr1;
}
