// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;


$blue-primary: #0079bf; // Trello's blue for main elements
$green-secondary: #61bd4f; // Green for success and completion
$yellow-accent: #f2d600; // Yellow for highlighting important areas
$gray-background: #f4f5f7; // Light gray for background
$white-card-background: #ffffff; // White for task cards
$black-card-background: #171717; // White for task cards
$text-dark: #344563; // Dark text for better readability
$text-light: #ffffff; // Light text for use on dark backgrounds
$border-white: #dfe1e6; // Soft border color for cards/columns
$red: #dd0525;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;